<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/header' %>
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <div class="container">
      <%= render 'layouts/message' %>
      <% if sample_signed_in? %>
        <h1>ようこそ</h1>
        
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>